<template>
    <div class="container my-8 mx-auto flex justify-center">
        <div class="w-2/5 flex flex-col gap-y-6">
            <FeedbackForm class="mx-auto" @save="onSave" @error="onError" />
            <div v-if="info" class="border border-gray-500 rounded-lg p-4">
                {{ info }}
                <ul>
                    <li v-for="item in Object.keys(info)">
                        {{ item }} : {{ info[item] }}
                    </li>
                </ul>
            </div>
            <div v-if="error" class="border border-gray-500 rounded-lg p-4">
                {{ error }}
            </div>
        </div>
    </div>
</template>

<script>
import FeedbackForm from "./components/FeedbackForm.vue";

export default {
    name: "App.vue",
    components: {FeedbackForm},
    data() {
        return {
            info: false,
            error: false,
        }
    },
    methods: {
        onSave(value) {
            this.info = value;
            console.log(value)
        },
        onError(value) {
            this.error = value;
        }
    },
}
</script>

<style scoped>

</style>
