<template>
    <div class="flex flex-col w-full p-6 rounded-lg border border-gray-4 gap-y-4 text-gray-700">
        <text-input :errors="errors.first_name" :label="'Имя'" v-model="formData.first_name"/>
        <text-input :errors="errors.last_name" :label="'Фамилия'" v-model="formData.last_name"/>
        <text-input :errors="errors.phone" :label="'Телефон'" v-model="formData.phone"/>
        <text-input :errors="errors.feedback_text" :label="'Сообщение'" v-model="formData.feedback_text"/>

        <button @click="send" class="w-full p-3 border border-green-500 rounded-lg">Отправить</button>

    </div>
</template>

<script>

import TextInput from "./TextInput.vue";

const createFormData = () => {
    return {
        first_name: '',
        last_name: '',
        phone: '',
        feedback_text: '',
    }
}
export default {
    name: "AppealForm",
    components: {TextInput},
    data() {
        return {
            formData: createFormData(),
            errors: [],
        }
    },
    methods: {
        async send() {
            this.errors = [];
                const response = await fetch('/api/feedback', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.formData)
                });
                const content = await response.json();
                if (content.errors) {
                    this.errors = content.errors;
                    this.$emit('error', 'Ошибка')
                    return
                }

                if (content.data) {
                    this.$emit('save', content.data)
                }


        }
    },
}
</script>

<style scoped>

</style>
