<template>
    <div class="flex flex-col gap-y-2">
        <div class="w-full">
            <label class="text-gray-500 ">
                {{ label }}
            </label>
        </div>
        <div>
            <input
                :value="modelValue" @input="onInput"
                class=" appearance-none border border-gray-400 rounded w-full py-2 px-4 leading-tight focus:outline-none " type="text" >
        </div>
        <div class="text-xs text-red-500">{{ errors[0] }}</div>
    </div>
</template>

<script>
export default {
    name: "TextInput",
    props: {
        errors: {
            default: () => [],
            type: Array,
        },
        label: {
          default: "",
          type: String,
        },
        modelValue: {
            default: "",
            type: String,
        },
    },
    methods: {
        onInput(event) {
            this.$emit('update:modelValue', event.target.value);
        }
    },
}
</script>

<style scoped>

</style>
